@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <form asp-area="" asp-controller="Product" asp-action="GetByID" method = "GET">
            <input type = "text" name = "pid" id = "pid" placeholder="Enter Product ID ">
            <br><br>
            <button type = "submit" name = "btn" value = "submit">Submit</button>
            <button type = "reset" name = "btn" value = "reset">Clear</button>
        </form>
    </div>
</div>
